*{
    margin: 0;
    padding: 0;
}
.shapka
{
    background-color: blueviolet;
    border-radius: 1px;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    text-align: center;
    max-height: 200px;
    
}
.shapka a
{
    font-size: 34px;
    color: black;
    text-align: center;
    padding-top: 100px;
    padding-left: 13%;
}

.info 
{
    text-align: center;
    color: red;
    font-size: 25px;
    padding: 50px 200px;
    display: flex;
    flex-direction: column;
}

.users {
	width: 100%;
	border-collapse: collapse;
	border-radius: 10px;
	margin: 5px;
}

.users tr 
{
    text-align: center;
}

.users th, td 
{
    padding: 15px;
    border: 1px solid black;
}

#t2 
{
    padding: 10px;
}

.user-info 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

.user-info p 
{
    padding-top: 15px;
    font-size: 30px;
}

.user-photo {

    max-width: 750px; 
    min-width: 50px;
    max-height: 750px;
    min-height: 50px;
    position: relative;
    width: 30%;
    border: 5px solid black;
    border-radius: 25%;
}


.user-photo img {
    width: 100%;
    border-radius: 25%;
}

h5 
{
    font-size: 25px;
    padding-top: 15px;
}

#tabs li
{
    margin: 20px;
    width: 90px;

}

#tabs a 
{
    font-size: 20px;
    text-align: center;
}

.tab-info 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

.tab-info h1, h2 
{
    font-size: 25px;
    padding-top: 15px;
}

.tab-info p 
{
    padding-top: 15px;
    font-size: 20px;
}

.about
{
    text-align: center;
    font-size: 25px;
    padding: 30px;
}

.about h1 
{
    font-size: 35px;
}
